@font-face {
  font-family: "iconfont"; /* Project id 3216761 */
  src: url('iconfont.woff2?t=1646228813665') format('woff2'),
       url('iconfont.woff?t=1646228813665') format('woff'),
       url('iconfont.ttf?t=1646228813665') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e65c";
}

.icon-form:before {
  content: "\e6a2";
}

.icon-add:before {
  content: "\e767";
}

.icon-peoplelist:before {
  content: "\e7be";
}

.icon-coin:before {
  content: "\e671";
}

.icon-scan:before {
  content: "\e68b";
}

.icon-travel:before {
  content: "\e68d";
}

.icon-card:before {
  content: "\e68e";
}

.icon-pay_collect:before {
  content: "\e691";
}

.icon-chat:before {
  content: "\e69d";
}

.icon-me:before {
  content: "\e6b1";
}

.icon-logo:before {
  content: "\e6c6";
}

.icon-more:before {
  content: "\e6cb";
}

